@model IList<Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Categories</h1>
        <partial name="_ListPartial" for="@Model" />
    </div>
</div>